body {
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header {
  background-color: #EEF1EF;
  border-bottom: 1px solid #d2dad5;
  padding: 10px 10px 10px 20px;
  vertical-align: middle;
  overflow: auto;
}

header h1 {
  font-size: 2em;
  font-weight: lighter;
  width: 100px;
}

header a {
  color: #474647 !important;
}

header a:hover {
  text-decoration: none;
}

header h1, form {
  float: left;
  margin: 0;
}

header input[type=text] {
  width: 500px;
  margin: 0;
  height: 18px;
  border: 1px solid #d2dad5;
}

header input[type=text]:hover {
  border-color: #bfcbc4;
}

header input[type=text]:focus {
  border-color: #007FFF;
}

header input[type=submit] {
  text-align: center;
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 40px;
  margin: 0 0 0 -2px;
  width: 40px;
  background-color: #DC0073;
  background-image: url('../images/search.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  border: none;
  color: #FFF;
}

header input[type=submit]:hover {
  background-color: #cb006a;
}

article {
  padding: 20px 0 0 20px;
  margin: 0;
  max-width: 600px;
}

article h2, h2 a, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article h2 {
  font-size: 1.2em;
}

article h2 a {
  display: block;
  width: 500px;
}

article h3 {
  font-size: 1em;
  color: #DC0073;
  width: 550px;
}

article h4 {
  font-size: 1em;
  width: 550px;
}

article h5 {
  font-size: 0.8em;
  color: #d2dad5;
}

a, a:visited, a:active {
  color: #007FFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article span span {
  font-weight: bold !important;
}

input {
  outline: none;
  font-size: 1em;
  padding: 10px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border: 0;
}

.home {
  border-top: 1px solid #d2dad5;
  text-align: center !important;
}

.home form {
  float: none !important;
}

#landing {
  margin: 10% auto;
  text-align: center;
}

#weather_location h3 {
  font-weight: lighter;
  font-size: 2em;
}

#weather_temperature h4 {
  font-weight: lighter;
  font-size: 1.5em;
  margin-bottom: 10px;
}

h1 {
  font-weight: lighter !important;
}

#landing h1 {
  font-size: 4em !important;
  font-weight: lighter !important;
}

#stats {
  padding: 20px 0 0 20px;
  color: #91a498;
  font-size: 0.8em;
}

#results {
  float: left;
  max-width: 600px;
  margin-left: 100px;
}

#widgets {
  float: left;
  width: 350px;
  padding: 20px;
  margin: 20px 0 20px 100px;
}

#widget {
  border: 1px solid #dbe2de;
  box-shadow: 0px 0px 5px #c9d2cc;
  margin-top: 20px;
}

#widget h2 {
  margin: 0px;
  font-weight: 400;
  text-align: center;
}

.dog {
  max-width: 310px;
  display: block;
  margin-bottom: 20px;
}

#widget_header {
  border-bottom: 1px solid #dbe2de;
  padding: 20px;
}

#widget_body {
  padding: 20px;
  text-align: center;
}

#pages {
  padding: 20px;
  font-size: 0.8em;
}

.page a, .page_active a {
  padding: 7px;
  border: 1px solid #007FFF;
  margin: 0 7px 7px 0;
  float: left;
}

.page_active a {
  background-color: #007FFF;
  color: #FFF;
  font-weight: bold;
}

.description {
  display: block;
}
