<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Varys</title>
  </head>
  <body>
    <form action="index.html" method="post">
      <input type="input" id="search_query">
      <input type="submit" value="search">
    </form>
  </body>
</html>
