<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Varys</title>
    <link href="https://fonts.googleapis.com/css?family=Philosopher:700" rel="stylesheet" type="text/css">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%=yield%>
  </body>
</html>
