<div id="landing">
  <h1 class="fadeInDown">varys</h1>
  <header class="home">
    <%=erb :'partials/_search_box' %>
  </header>
</div>
<script>
$(function () {
    $('.fadeInDown').textillate();
})
</script>
