#tube{
  color: #fff;
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0;
  width: 310px;
}

#tube li {
  padding: 10px;
}
.status{
  float: right;
}
#tube li .reason{
  display: none;
  position: absolute;
  background: inherit;
  padding: 10px;
  width: 336px;
  margin-top: -24px;
  text-align: left;
}
#tube li:hover .reason{
  display: block;
}

#bakerloo {
  background: #B36305
}
#central {
  background: #E32017
}
#circle {
  background: #FFD300
}
#district {
  background: #00782A
}
#dlr {
  background: #00A4A7
}
#hammersmith-city {
  background: #F3A9BB
}
#jubilee {
  background: #A0A5A9
}
#london-overground {
  background: #EE7C0E
}
#metropolitan {
  background: #9B0056
}
#northern {
  background: #000000;
}
#piccadilly {
  background: #003688;
}
#tfl-rail {
  background: #0019a8
}
#victoria {
  background: #0098D4
}
#waterloo-city {
  background: #95CDBA
}